<div class="row">
    <div class="col-8"><h2>Create Student</h2></div>
        <div class="col-4"> 
        <button class="btn btn-secondary pull-right"
        (click)="clear()">Clear</button>
    </div>
</div>

<form [formGroup]="studentForm" role="form">
    <div class="mb-3">
        <label>First Name</label>
        <input class="form-control form-control-lg"
            formControlName="firstName"
            id="firstName">
        <div *ngIf="studentForm.controls['firstName'].dirty || studentForm.controls['firstName'].touched"  class="alert">
            <small *ngIf="studentForm.controls['firstName'].errors?.['required']"
                class="text-danger">FirstName is required.</small>
            <small class="text-danger" *ngIf="studentForm.controls['firstName'].errors?.['minlength']">
              FirstName must be at least 2 characters long.
            </small>
            <small class="text-danger" *ngIf="studentForm.controls['firstName'].errors?.['maxlength']">
                FirstName must be at least 30 characters long.
              </small>
        </div>
        
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <input class="form-control form-control-lg"
            formControlName="lastName"
            id="lastName">
            <div *ngIf="studentForm.controls['lastName'].dirty || studentForm.controls['lastName'].touched"  class="alert">
                <small *ngIf="studentForm.controls['lastName'].errors?.['required']"
                    class="text-danger">LastName is required.</small>
                <small class="text-danger" *ngIf="studentForm.controls['lastName'].errors?.['minlength']">
                  LastName must be at least 2 characters long.
                </small>
                <small class="text-danger" *ngIf="studentForm.controls['lastName'].errors?.['maxlength']">
                    LastName must be at least 30 characters long.
                  </small>
            </div>
    </div>
    <div class="mb-3">
        <label>Birth Date</label>
        <input class="form-control form-control-lg"
            formControlName="birthDate"
            id="birthDate"
            type="date"
            value="{{ selectedStudent.birthDate | date:'yyyy-MM-dd' }}">
            <div *ngIf="studentForm.controls['birthDate'].dirty || studentForm.controls['birthDate'].touched" 
                 class="alert">
                <small *ngIf="studentForm.controls['birthDate'].errors?.['required']"
                    class="text-danger">BirthDate name is required.</small>
            </div>
            
    </div>
    <div class="mb-3">
        <label>email</label>
        <input class="form-control form-control-lg"
            formControlName="email"
            id="email" value="">
    </div>
    <div class="mb-3">
        <label>Phone Number</label>
        <input class="form-control form-control-lg"
            formControlName="phoneNumber"
            id="phoneNumber">
    </div>
    <button class="btn btn-primary btn-mr" 
        type="button"
        (click)="save()"
        [disabled]="isProcessing">
        Save
    </button>
</form>